* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.modal {
  display: flex;
  justify-content: center;
}

.container-modal {
  position: relative;
  display: grid;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 1px 1px 15px #adadad;
  padding: 25px;
  width: 350px;
  height: 270px;
  margin: 0 20%;
}

.container-modal h3 {
  font-family: "Courier New", Courier, monospace;
}

.container-modal span {
  position: absolute;
  top: 20px;
  right: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  cursor: pointer;
}

.form-modal {
  display: grid;
  margin: 45px 0;
}

.form-modal input {
  padding: 5px;
  border: 1px solid #69a7bc;
}

.buttons-modal {
  position: absolute;
  right: 25px;
  bottom: 15px;
}

.buttons-modal button:first-child {
  padding: 7px 10px;
  font-size: 14px;
  background-color: #5e33ed;
  color: #ffffff;
  border: 1px solid transparent;
}

.buttons-modal button:last-child {
  font-weight: 600;
  padding: 7px 10px;
  font-size: 14px;
  background-color: #ffffff;
  color: #5e33ed;
  border: 1px solid transparent;
}

.buttons-modal button:last-child:hover {
  background-color: #5e33ed;
  color: #ffffff;
}

.buttons-modal button {
  cursor: pointer;
}
